In [91]:
import numpy as np
import tensorflow as tf
from pandas.io.parsers import read_csv
print("TensorFlow Version: %s" % tf.__version__)

TensorFlow Version: 2.0.0

In [92]:
data = read_csv('price data.csv', sep=',')

xy = np.array(data, dtype=np.float32)

x_data = xy[:, 1:-1]
y_data = xy[:, [-1]]

In [93]:
data

          year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0     20100101     -4.9    -11.0      0.9       0.0      2123
1     20100102     -3.1     -5.5      5.5       0.8      2123
2     20100103     -2.9     -6.9      1.4       0.0      2123
3     20100104     -1.8     -5.1      2.2       5.9      2020
4     20100105     -5.2     -8.7     -1.8       0.7      2060
...        ...      ...      ...      ...       ...       ...
2917  20171227     -3.9     -8.0      0.7       0.0      2865
2918  20171228     -1.5     -6.9      3.7       0.0      2884
2919  20171229      2.9     -2.1      8.0       0.0      2901
2920  20171230      2.9     -1.6      7.1       0.6      2901
2921  20171231      2.1     -2.0      5.8       0.4      2901

[2922 rows x 6 columns]

In [94]:
x_data

array([[ -4.9, -11. ,   0.9,   0. ],
       [ -3.1,  -5.5,   5.5,   0.8],
       [ -2.9,  -6.9,   1.4,   0. ],
       ...,
       [  2.9,  -2.1,   8. ,   0. ],
       [  2.9,  -1.6,   7.1,   0.6],
       [  2.1,  -2. ,   5.8,   0.4]], dtype=float32)

In [95]:
y_data

array([[2123.],
       [2123.],
       [2123.],
       ...,
       [2901.],
       [2901.],
       [2901.]], dtype=float32)

In [103]:
# Weights
tf.random.set_seed(2020)
W = tf.Variable(tf.random.normal([4, 1], mean=0.0))
b = tf.Variable(tf.random.normal([1], mean=0.0))

# Learning Rate
learning_rate = 0.000005

# Hypothesis and Prediction Function
def predict(X):
    return tf.matmul(X, W) + b

# Training
for i in range(100000+1):

    with tf.GradientTape() as tape:
        cost = tf.reduce_mean(tf.square(predict(x_data) - y_data))
        W_grad, b_grad = tape.gradient(cost, [W, b])

    W.assign_sub(learning_rate * W_grad)
    b.assign_sub(learning_rate * b_grad)

    if i % 500 == 0:
        print("#%s \t cost: %s" % (i, cost.numpy()))

#0 	 cost: 12354863.0
#500 	 cost: 4189053.0
#1000 	 cost: 3783544.8
#1500 	 cost: 3466804.2
#2000 	 cost: 3217688.2
#2500 	 cost: 3021284.2
#3000 	 cost: 2866195.0
#3500 	 cost: 2743596.5
#4000 	 cost: 2646612.2
#4500 	 cost: 2569847.5
#5000 	 cost: 2509059.2
#5500 	 cost: 2460904.0
#6000 	 cost: 2422739.2
#6500 	 cost: 2392477.2
#7000 	 cost: 2368468.5
#7500 	 cost: 2349408.5
#8000 	 cost: 2334264.5
#8500 	 cost: 2322219.0
#9000 	 cost: 2312627.5
#9500 	 cost: 2304975.8
#10000 	 cost: 2298860.2
#10500 	 cost: 2293961.0
#11000 	 cost: 2290024.0
#11500 	 cost: 2286848.2
#12000 	 cost: 2284275.8
#12500 	 cost: 2282180.0
#13000 	 cost: 2280462.2
#13500 	 cost: 2279042.5
#14000 	 cost: 2277860.2
#14500 	 cost: 2276865.0
#15000 	 cost: 2276018.0
#15500 	 cost: 2275288.5
#16000 	 cost: 2274651.8
#16500 	 cost: 2274088.8
#17000 	 cost: 2273584.0
#17500 	 cost: 2273125.2
#18000 	 cost: 2272703.0
#18500 	 cost: 2272310.2
#19000 	 cost: 2271940.2
#19500 	 cost: 2271588.5
#20000 	 cost: 2271251.2
#20500 	 cost: 2270925.5
#21000 	 cost: 2270608.8
#21500 	 cost: 2270299.8
#22000 	 cost: 2269996.0
#22500 	 cost: 2269697.8
#23000 	 cost: 2269402.5
#23500 	 cost: 2269109.8
#24000 	 cost: 2268820.0
#24500 	 cost: 2268532.2
#25000 	 cost: 2268246.2
#25500 	 cost: 2267961.0
#26000 	 cost: 2267677.0
#26500 	 cost: 2267394.8
#27000 	 cost: 2267111.2
#27500 	 cost: 2266829.8
#28000 	 cost: 2266549.0
#28500 	 cost: 2266268.2
#29000 	 cost: 2265988.0
#29500 	 cost: 2265708.2
#30000 	 cost: 2265428.5
#30500 	 cost: 2265149.5
#31000 	 cost: 2264871.2
#31500 	 cost: 2264592.0
#32000 	 cost: 2264313.2
#32500 	 cost: 2264035.0
#33000 	 cost: 2263756.5
#33500 	 cost: 2263478.8
#34000 	 cost: 2263201.5
#34500 	 cost: 2262924.2
#35000 	 cost: 2262647.8
#35500 	 cost: 2262370.8
#36000 	 cost: 2262094.8
#36500 	 cost: 2261818.0
#37000 	 cost: 2261541.2
#37500 	 cost: 2261265.2
#38000 	 cost: 2260989.2
#38500 	 cost: 2260712.8
#39000 	 cost: 2260437.0
#39500 	 cost: 2260162.2
#40000 	 cost: 2259887.5
#40500 	 cost: 2259613.8
#41000 	 cost: 2259338.8
#41500 	 cost: 2259064.2
#42000 	 cost: 2258790.5
#42500 	 cost: 2258516.0
#43000 	 cost: 2258242.5
#43500 	 cost: 2257969.0
#44000 	 cost: 2257695.8
#44500 	 cost: 2257422.2
#45000 	 cost: 2257148.8
#45500 	 cost: 2256875.8
#46000 	 cost: 2256603.2
#46500 	 cost: 2256329.8
#47000 	 cost: 2256057.8
#47500 	 cost: 2255786.2
#48000 	 cost: 2255515.0
#48500 	 cost: 2255243.5
#49000 	 cost: 2254972.5
#49500 	 cost: 2254701.8
#50000 	 cost: 2254431.0
#50500 	 cost: 2254160.0
#51000 	 cost: 2253890.0
#51500 	 cost: 2253619.8
#52000 	 cost: 2253349.5
#52500 	 cost: 2253078.5
#53000 	 cost: 2252808.5
#53500 	 cost: 2252539.0
#54000 	 cost: 2252269.0
#54500 	 cost: 2252000.2
#55000 	 cost: 2251731.5
#55500 	 cost: 2251463.5
#56000 	 cost: 2251195.8
#56500 	 cost: 2250927.2
#57000 	 cost: 2250659.2
#57500 	 cost: 2250391.2
#58000 	 cost: 2250123.5
#58500 	 cost: 2249856.8
#59000 	 cost: 2249590.0
#59500 	 cost: 2249324.0
#60000 	 cost: 2249058.0
#60500 	 cost: 2248792.0
#61000 	 cost: 2248525.5
#61500 	 cost: 2248260.0
#62000 	 cost: 2247994.5
#62500 	 cost: 2247728.8
#63000 	 cost: 2247463.0
#63500 	 cost: 2247198.0
#64000 	 cost: 2246932.5
#64500 	 cost: 2246667.5
#65000 	 cost: 2246402.0
#65500 	 cost: 2246137.2
#66000 	 cost: 2245872.2
#66500 	 cost: 2245607.5
#67000 	 cost: 2245342.8
#67500 	 cost: 2245078.2
#68000 	 cost: 2244813.5
#68500 	 cost: 2244549.2
#69000 	 cost: 2244285.5
#69500 	 cost: 2244021.5
#70000 	 cost: 2243757.5
#70500 	 cost: 2243493.5
#71000 	 cost: 2243230.0
#71500 	 cost: 2242966.5
#72000 	 cost: 2242702.8
#72500 	 cost: 2242440.2
#73000 	 cost: 2242178.2
#73500 	 cost: 2241918.0
#74000 	 cost: 2241657.5
#74500 	 cost: 2241396.8
#75000 	 cost: 2241135.8
#75500 	 cost: 2240876.2
#76000 	 cost: 2240615.8
#76500 	 cost: 2240355.2
#77000 	 cost: 2240095.8
#77500 	 cost: 2239835.8
#78000 	 cost: 2239576.0
#78500 	 cost: 2239316.5
#79000 	 cost: 2239057.2
#79500 	 cost: 2238797.5
#80000 	 cost: 2238538.0
#80500 	 cost: 2238278.5
#81000 	 cost: 2238019.8
#81500 	 cost: 2237760.8
#82000 	 cost: 2237501.2
#82500 	 cost: 2237242.2
#83000 	 cost: 2236984.5
#83500 	 cost: 2236726.0
#84000 	 cost: 2236466.8
#84500 	 cost: 2236208.5
#85000 	 cost: 2235950.5
#85500 	 cost: 2235691.8
#86000 	 cost: 2235433.8
#86500 	 cost: 2235176.2
#87000 	 cost: 2234917.8
#87500 	 cost: 2234660.0
#88000 	 cost: 2234402.5
#88500 	 cost: 2234145.8
#89000 	 cost: 2233888.0
#89500 	 cost: 2233630.8
#90000 	 cost: 2233374.8
#90500 	 cost: 2233119.8
#91000 	 cost: 2232865.2
#91500 	 cost: 2232610.5
#92000 	 cost: 2232357.0
#92500 	 cost: 2232103.0
#93000 	 cost: 2231848.8
#93500 	 cost: 2231594.8
#94000 	 cost: 2231341.0
#94500 	 cost: 2231087.8
#95000 	 cost: 2230833.5
#95500 	 cost: 2230580.2
#96000 	 cost: 2230327.2
#96500 	 cost: 2230074.2
#97000 	 cost: 2229821.2
#97500 	 cost: 2229568.8
#98000 	 cost: 2229315.8
#98500 	 cost: 2229062.5
#99000 	 cost: 2228810.2
#99500 	 cost: 2228558.0
#100000 	 cost: 2228305.8

In [107]:
W

<tf.Variable 'Variable:0' shape=(4, 1) dtype=float32, numpy=
array([[ -35.976414],
       [-180.30727 ],
       [ 259.114   ],
       [  39.170166]], dtype=float32)>

In [108]:
b

In [131]:
#predict model
avg_temp = float(2.0)
min_temp = float(-2.1)
max_temp = float(5.8)
rain_fall = float(0.4)

In [132]:
data = np.array(([[avg_temp,min_temp,max_temp,rain_fall]]), dtype=np.float32)

In [133]:
data

array([[ 2. , -2.1,  5.8,  0.4]], dtype=float32)

In [134]:
predict(data).numpy()

array([[2016.6887]], dtype=float32)